.profile {
    display: flex;
}

.profileRight {
    flex: 9;
}

.profileRightBottom {
    display: flex;
}

.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid white;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName {
    font-size: 24px;
}

.profileInfoDesc {
    font-weight: 300;
}

.followButton {
    background: #1877f3 !important;
    color: white !important;
}

.profileRightTop {
    position: relative;
}

.followButtonContainer {
    position: absolute;
    right: 50px;
    bottom: 0;
}