.profile {
    display: flex;
}

.profileRight {
    flex: 9;
}

.profileRightBottom {
    display: flex;
}

.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImage {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImage {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

.profileUserImage > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName {
    font-size: 24px;
}

.profileInfoDesc {
    font-weight: 300;
}

.followButton {
    background: #1877f3 !important;
    color: white !important;
}

.profileRightTop {
    position: relative;
}

.followButtonContainer {
    position: absolute;
    right: 50px;
    bottom: 0;
}

.profileCoverWrapper, .profileImageWrapper {
    position: relative;
}

.profileCoverWrapper {
    width: 100%;
}

.profileImageEdit {
    padding: 15px 0;
    background: rgba(0, 0, 0, .1);
    font-weight: 500;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.profileCoverImageEdit {
    top: 0;
    right: 0;
    padding: 10px;
}

.imageEdit {
    display: none;
    position: absolute;
    cursor: pointer;
    color: white;
}
