.personsProfile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    margin-right: 10px;
    border: 1px solid black;
}

.personsName {
    width: calc(100% - 30px);
    font-weight: 500;
    font-size: 20px;
    margin-left: 50px;
}

.searchResult {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
