.share {
    width: 100%;
    height: max-content;

    border-radius: 10px;

    -webkit-box-shadow: 0 0 20px -14px rgba(0,0,0,0.4);
    box-shadow: 0 0 20px -14px rgba(0,0,0,0.4);
}

.shareOptionText {
    font-size: 14px;
    font-weight: 500;
}

.shareWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
}

.shareProfileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    border: none;
    width: 80%;
}

.shareInput:focus {
    outline: none;
}

.shareHr {
    margin: 20px;
}

.shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions {
    display: flex;
    margin-left: 20px;
}

.shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon {
    font-size: 18px;
    margin-right: 3px;
}

.shareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background: #1877f3;;
    color: white;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
}

.mediaUpload {
    display: none;
}

.uploadedImage {
    display: none;
    margin-bottom: 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    width: 80%;
    height: 80%;
}

.previewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
