.topbarContainer {
    height: 50px;
    width: 100%;
    background: #1877f3;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarLeft {
    flex: 3;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.searchBar {
    width: 100%;
    height: 30px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    position: relative;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 70%;
}

.searchInput:focus {
    outline: none;
}

.topbarCenter {
    flex: 5;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background: red;
    position: absolute;
    border-radius: 50%;
    color: white;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.topRightOptions {
    position: relative;
}

.dropDown {
    position: absolute;
    background: white;
    width: 200px;
    padding: 10px 5px;
    right: 0;
    border-radius: 10px;
    color: black;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.dropDown:hover {
    background: #f1e7e7;
}

.searchResultWrapper {
    background: gray;
    left: 30px;
    position: absolute;
    bottom: -50vh;
    width: 92%;
    height: 50vh;
}

.searchResult {
    margin: 0;
    padding: 0;
    list-style: none;
}